pyinstaller==4.5.1
flask
yfinance
Werkzeug>=2.2.2
Jinja2>=3.0
itsdangerous>=2.0
click>=8.0
altgraph
pyinstaller-hooks-contrib>=2020.6
importlib-metadata
pytz>=2022.5
requests>=2.31
numpy>=1.16.5
pandas>=1.3.0
frozendict>=2.3.4
beautifulsoup4>=4.11.1
html5lib>=1.1
